<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>
    <h3 th:text="${filesModel.title}">Welcome to springboot</h3>
    <div>
        <a th:href="@{/files/filesform}" >创建文件</a>
    </div>
    <table border="1">
        <thead>
            <tr>
                <td>文件名</td>
                <td>文件标识码</td>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${filesModel.filesList.size()} eq 0">
                <td colspan="3">没有文件信息！！</td>
            </tr>
            <tr th:each="file : ${filesModel.filesList}">
                <td th:text="${file.filename}">默认文件名</td>
                <td th:text="${file.filecode}">默认文件code</td>
                <td>
                    <a href="view.html" th:href="@{'/files/' + ${file.id}}"
                       th:text="${file.filename}">默认文件名</a></td>
            </tr>
        </tbody>

    </table>

    <div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>