<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>
    <h3 th:text="${filesModel.title}">Welcome to springboot</h3>
    <form action="/files" th:action="@{/files}" method="post" th:object="${filesModel.files}" >
        <input type="text" name="name" th:value="*{filename}">
        <br>
        年龄：<br>
        <input type="text" name="age" th:value="*{filecode}">
        <input type="submit" value="提交">
    </form>



    <div th:replace="~{fragments/footer :: footer}">...</div>

</body>
</html>