<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
    <h3 th:text="${filesModel.title}">Welcome to springboot</h3>
    <form action="/files" th:action="@{/files}" method="post" th:object="${filesModel.files}" >
         文件名：<br>
        <input type="text" name="filename" th:value="*{filename}">
        <br>
        文件编码：<br>
        <input type="text" name="filecode" th:value="*{filecode}">
        <input type="submit" value="提交">
    </form>


</body>
</html>